@use "../variables" as vars;
@use "../zukit-basic" as basic;

// Admin Title Indicator Component ----------------------------------------------------------------]

$title-indicator-color-opacity: 0.2;
$title-indicator-color: vars.$wp-admin-blue-color;

.#{basic.$title-indicator-class} {
	padding: 0 12px 1px;
	border-radius: 15px;
	margin-left: 15px;
	background-color: rgba($title-indicator-color, $title-indicator-color-opacity);
	color: $title-indicator-color;
	transition: opacity vars.$transition-short-time vars.$transition-function;
	opacity: 1;

	&.component-color-indicator {
		display: inline-block;
		vertical-align: text-bottom;
		border-radius: revert;
	}
	.components-panel__body.is-opened & {
		opacity: 0;
	}

	@each $name, $color in basic.$custom-colors {
		&.#{$name} {
			background-color: rgba($color, $title-indicator-color-opacity);
			color: $color;
		}
	}
}
